<div class='rows'>
    <div class='row is-full'>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <div class="block homeblock">
                    <p>
                        Parledoct (like 'aqueduct') is a collection of tutorials and supporting tools to assist in the deployment of speech processing pipelines for language documentation projects.                        
                    </p>
                    <p>
                        These tutorials are aimed at those who have some basic familiarity with speech data (e.g. annotating in Praat/ELAN) and scripting (e.g. in Praat or R) and want to learn to directly use modern speech processing tools via the command-line interface, complementing projects such as <a href="https://github.com/CoEDL/elpis" target="_blank">Elpis</a>, which provides a user-friendly interface for similar tools.
                    </p>
                    <p>
                        The tutorials fall into one of three categories:
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class='row is-full'>
        <div class="columns">
            <div class="column is-5 is-offset-3">
                <div class="block homeblock">
                    <p>
                        <b>Processing pre-prepared speech data on Google Colab</b>. These tutorials provide self-paced introductions to performing various speech processing tasks (e.g. <a href="https://en.wikipedia.org/wiki/Voice_activity_detection" target="_blank">voice activity detection</a>) on Google Colab with pre-prepared datasets.
                    </p>
                </div>
            </div>
            <div class="column is-1" style="text-align: center;">
                <img src="../assets/img/cycle-1.png" style="width:50px; height: 75px;">
            </div>

        </div>
    </div>

    <div class='row is-full'>
        <div class="columns">
            <div class="column is-5 is-offset-3">
                <div class="block homeblock">
                    <p>
                        <b>Dataset pre- and post-processing.</b> These tutorials provide introductions to preparing data from language documentation projects for use with various tools (e.g. stereo-to-mono conversion, re-sampling) and exporting the output of various tools into desired formats (e.g. ELAN .eaf files).
                    </p>
                </div>
            </div>
            <div class="column is-1" style="text-align: center;">
                <img src="../assets/img/cycle-2.png" style="width:72px; height: 75px;">
            </div>

        </div>
    </div>

    <div class='row is-full'>
        <div class="columns">
            <div class="column is-5 is-offset-3">
                <div class="block homeblock">
                    <p>
                        <b>Speech processing in the cloud.</b> As the compute power of your laptop or desktop is sometimes not enough to perform some tasks, these tutorials provide introductions to using cloud providers such as <a href="https://cloud.google.com/" target="_blank">Google Cloud</a> for performing these tasks.
                    </p>
                </div>
            </div>
            <div class="column is-1" style="text-align: center;">
                <img src="../assets/img/cycle-3.png" style="width:77px;height: 75px;">
            </div>

        </div>
    </div>
</div>
